body {
    font-family: 'irish grover', sans-serif;
  
    margin: 5;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom right,white,rgb(2, 25, 41),rgb(40, 66, 95),white);
    background-size: cover;
   
      
}

.container {
    background-image: linear-gradient(to bottom right,white,rgb(2, 25, 41),rgb(40, 66, 95),white);
   
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 20px;

    
}



.container1 {
    background-image: url(im/nn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;

    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 50px;
    background-color: #0e0d3b;
}

.header-text{
    margin-top: 12%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text span.multiText{
    color: rgb(171, 22, 190);
    text-transform: uppercase;
}

.container2 {
    background-image: url(im/de.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    height: 100vh;
   
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    background-color: #010011;
}



.container3 {
    background-image: url(im/de.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    height: 100vh;
    text-align: center start;
    background-color: #241b1b;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    background-color: #0d0c14;
}



form input, form textarea{
    width: 55%;
    border: -1;
    outline: none;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
}

select{
    width: 58%;
    border: -1;
    outline: none;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;

}

.signin-button{
    width: 58%;
    border: -1;
    outline: none;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;

}

.container4 {
    height: 100vh;
    text-align: center;
    background-color: #fcfafa;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(purple-dark-wave-abstract-stream-background_582637-878.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
_____________
    .sidebar{ 
        position: fixed;
         top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .sidebar li{
        width: 100%;
    }
    .sidebar a{
        width: 100%;
    }


.container5 {
    height: 100vh;
    text-align: center;
    background-color: #0f0101;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}



.container6 {
    background-image: linear-gradient(to bottom right,white,rgb(2, 25, 41),rgb(40, 66, 95),white);
    background-color: #070339;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.container7 {
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container8 {
    background-color: #1690a8;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn3 {
    position: absolute;
    top: 5px;
    
    display: grid;
    place-items:   center;
    padding: 5px 30px;
    text-decoration: none;
    background-color: #1690a8;
    color: #000000;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.nav {
      
    position: absolute;
    top: 580px;
    display: x=2000;
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 120%;
    color: #000000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn0{
     
    position: absolute;
    top: 350px;
    left: 200px;
    display: inline-block;
    padding: 10px 80px;
    text-decoration: none;
    background-color: #26c448;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease;

}



.btn01{
     
    position: absolute;
    top: 510px;
    left: 200px;
    display: inline-block;
    padding: 20px 80px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease;

}


.btnx {
    display: x=1024;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btny {
    display: grid;
    position: absolute;
    top: 500px;
    display: x=1024 ;
    padding: 30px 50px;
    text-decoration: none;
    background-image:linear-gradient(to right, rgb(128, 21, 74),rgb(184, 41, 165),rgb(94, 5, 79),rgb(219, 17, 118), white);
    color: #fff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btnn {
    display: grid;
    position: absolute;
    top: 500px;
    display: x=1024 ;
    padding: 30px 50px;
    text-decoration: none;
    background-image:linear-gradient(to right, rgb(128, 21, 74),rgb(184, 41, 165),rgb(94, 5, 79),rgb(219, 17, 118), white);
    color: #fff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

.signin-button {
    width: 210px;
    height: 40px;
}

.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px; 
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    }
    
    .search :focus-within{
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    }
    .search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    }
    
    .search-input::placeholder,
    .search-icon{
    color: rgba(0, 0, 0, 0.25);
    }
    .subject {
        font-size: 1.2em;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        animation: fadeIn 0.5s ease-in-out;
    }
     
    .subject:last-child {
        border-bottom: none;
    }
     
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
     
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

  
     
    .navbar {
        background-color: #01000E;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        position: sticky;
        top: 0;
        z-index: 999;
    }
     
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 50px;
    }
     
    #navbar__logo {
        background-color: darkslateblue;
        background-image: linear-gradient(to top,#7760D2 0%, #01000E 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
    }
     
    .fa-gem{
        margin-right: 0.5rem;
    }
     
    .navbar__menu {
        display: flex;
        align-items: center;
        list-style: none;
        text-align: center;
    }
     
    .navbar__item {
        height: 80px;
    }
     
    .navbar__links {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;
    }
     
    .navbar__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        width: 100%;
    }
     
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background: darkslateblue;
        color: white;
    }
     
    .button:hover {
        background: rgb(47, 15, 78);
        transition: all 0.3s ease;
    }
     
    .navbar__links:hover {
        color: darkslateblue;
        transition: all 0.3s ease;
    }
     
    @media screen and (mac-width: 960px) {
        .navbar__container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            padding: 0;
        }
     
        .navbar__menu {
            display: grid;
            grid-template-columns: auto;
            margin: 0;
            width: 100%;
            position: absolute;
            top: -1000px;
            opacity: 0;
            transition: all 0.5s ease;
            height: 50vh;
            z-index: -1;
            background: #355db3;
        }
     
        .navbar__menu.active {
            background: #163f8b;
            top: 100%;
            opacity: 1;
            transition: all o.5s ease;
            z-index: 99;
            height: 50vh;
            font-size: 1.6rem;
        }
     
        #navbar__logo {
            padding-left: 25px;
        }
     
        .navbar__toggle .bar {
            width: 25px;
            height: 3px;
            margin: 5px auto;
            transition: all 0.3s ease;
            background: white;
        }
     
        .navbar__item {
            width: 100%;
        }
     
        .navbar__links {
            text-align: center;
            padding: 2rem;
            width: 100%;
            display: table;
        }
     
        #mobile-menu {
            position: absolute;
            top: 20%;
            right: 5%;
            transform: translate(5%, 20%);
        }
     
        .navbar__btn {
            padding-bottom: 2rem;
        }
     
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80px;
            margin: 0;
        }
     
        .navbar__toggle .bar {
            display: block;
            cursor: pointer;
        }
     
        #mobile-menu.is-active .bar:nth-child(2) {
            opacity: 0;
        }
     
        #mobile-menu.is-active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
     
        #mobile-menu.is-active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
     
     
    /*Hero Section CSS*/
    .main {
        background-color: #0e314e;
    }
     
    .main__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        height: 90vh;
        background:#0e314e, rgb(5, 70, 114);
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 50px;
    }
     
    .main__content h1 {
        font-size: 4rem;
        background-color: #7760D2;
        background-image: linear-gradient(to top, #ffffff 0%, #5f548c 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color:transparent; 
    }
     
    .main__content h2 {
       font-size: 4rem;
        background-color: #4d2dca;
        background-image: linear-gradient(to top, #6d2da9 0%, #100730 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color:transparent; 
    }
     
    .main__content p {
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.452);
    }
     
    .main__btn {
        font-size: 1rem;
        background-image: linear-gradient(to top, #090a3dba 0%, #1a062c 100%);
        padding: 7px 16px;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.452);
        margin-top: 2rem;
        cursor: pointer;
        position:relative;
        transition: all 0.35s;
        outline: none;
    }
     
    .main__btn a {
        position: relative;
        z-index: 2;
        color: white;
        text-decoration: none;
    }
     
    .main__btn::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #3d135d;
        transition: all 0.35s;
        border-radius: 4px;
    }
     
    .main__btn:hover {
        color: white;
    }
     
    .main__btn:hover::after {
        width: 100%;
    }
     
    .main__btn1 {
        font-size: 1rem;
        background-image: linear-gradient(to top, #110b48ba 0%, #1a062c 100%);
        padding: 7px 16px;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.452);
        margin-top: 2rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }
     
    .main__btn1 a {
        position: relative;
        z-index: 2;
        color: white;
        text-decoration: none;
    }
     
    .main__btn1::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #3d135d;
        transition: all 0.35s;
        border-radius: 4px;
    }
     
    .main__btn1:hover {
        color: white;
    }
     
    .main__btn1:hover::after {
        width: 100%;
    }
     
    .main__img--container {
        text-align: center;
    }
     
    #main__img {
        height: 80%;
        width: 80%;
    }


    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }
    
    body{
        min-height: 100vh;
    }
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    h1,
    h2{
        color: #444;
    }
    h3{
        color: #999;
    }
    .btn{
    background: #35489e;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    }
    .btn:hover{
      color: #7e4bb8;
      background: #fff;
      padding: 3px 8px;
      border: 2px solid #7e4bb8;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 10px;
        border-bottom: 2px solid #999;
    }
    table{
       padding: 10px;
    }
    th,td{
        text-align: left;
        padding: 14px;
    }
   
    .containerx{
    position: absolute;
     right: 0;
    width: 80vw;
    height: 100vh;
    background:#fff;
    }
    .containerx .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    }
    .header .nav {
          width: 90%;
          display: flex;
          align-items: center;
    }
    
     .header .nav .search {
         flex: 3;
         display: flexbox;
         justify-content: start center;
    
    }
    .search input[type=text]{
    border: none;
    background:#e9c4ec;
    padding: 10px;
    width: 50;
    }
    .search  button{
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header .nav .user{
        flex: 1;
    }
     .content{
        position: relative;
        margin-top: 10vh;
        min-height: 90vh;
    }
    .cards{
        padding: 50px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .card{
        width: 285px;
        height: 190px;
        background: #ffffff;
        margin: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
    
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work image{
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }
    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient(rgba(14, 13, 13, 0.6), #ff004f);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 2px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
    
    }
    .work:hover img{
        transform: scale(1.1);
    }
    .work:hover .layer{
        height: 100%;
    }
    
    .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
    }
    .Quizz-marks{
        min-height: 50vh;
        flex: 5;
        background: #cfa8e9;
        margin: 0 25px 25px 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
    }
    .History{
        flex: 2;
        background: #a4e77d;
        min-height: 50vh;
        margin: 0 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
    }
    .History table td:nth-child(1) {
        height: 40px;
        width: 40px;
    }
     
    /* Mobile Resposive*/
    @media screen and (max-width: 768px) {
        .main__container {
        display: grid;
        grid-template-coloumns: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
        }
     
        .main__content {
            text-align: center;
            margin-bottom: 4rem;
        }
        
        .main__content h1 {
            font-size: 2.5rem;
            margin-top: 2rem;
        }
        
        .main__content h2 {
            font-size: 3rem;
        }
        
        .main__content p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
     
        .main__btn {
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
    }
     
    .container9 {
        background-color: #070339;
        height: 100vh;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .sidemenu {
        position: fixed;
        background: #ececec;
        width: 20vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .side-menu .brand-name {
         height: 10vh;
          display: flex;
           align-items: center; 
           justify-content: center;
    }
    .side-menu li{
         font-size: 24px;
         padding: 10px 40px; 
         color: white;
         display: flex;
         align-items: center;
        
    }
    .sidemenu li:hover{
        background: #fff;
        color: #7e4bb8;
    }
    .sidemenu .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sidemenu .nav .fa-sharp{
        display: block;
        font-size: 25px;
    }
    .sidemenu.nav ul{
        background: #290757;
        position: fixed;
        top: 0;
        right: -200px;
        width: 160px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2; 
        transition: right 0.5s;
    }
    .sidemenu .nav ul li{
        display: block;
        list-style: none;
        margin: 25px;  
    }
    .side-menu .nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #a70b80;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav ul li a:hover::after{
        width: 100%;
    }

    nav ul .fa-sharp{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

 .container10 {
        background-color: #070339;
        height: 100vh;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    
.container11 {
    background-color: #070339;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container12 {
    background-color: #070339;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container13 {
    background-color: #070339;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container14 {
    background-color: #070339;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container15 {
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  


.container17 {
    background: #070339;     
}

.app{background: #fff;
    width: 600px;
    margin-left: auto;
    margin-top: 60px;
    margin-right: auto;
    padding-top: auto;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #070339;
    font-weight: 600;
    border-bottom: 1px solid #8755dd;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btnd{background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer; 
}
.btnd:hover{
    background: #222;
    color: #fff;
}
#next-btnd{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}


.container18 {
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container20 {
    background-image: linear-gradient(to bottom right,white,rgb(2, 25, 41),rgb(40, 66, 95),white);
    background-repeat: no-repeat;
    background-size:cover ;
    background-color: #070339;
    height: 90vh;
    width: 100vw;
    text-align: flex;
    background-color: #2483af;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container21 {
    background-image: url(ima/55.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container22 {
  

    
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container23 {
    background-image: url(ima/55.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container24 {
    background-image: url(ima/55.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container25 {
    background-image: url(ima/55.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container26 {
    background-image: url(ima/55.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
     
.container27 {
    background-image: url(ima/55.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
          
     
.container28 {
    background-image: url(ima/55.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container31 {
    background-image: linear-gradient(to bottom right,white,rgb(2, 25, 41),rgb(40, 66, 95),white);

    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #070339;
    height: 100vh;
    text-align: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
     
          
     
    

@media only screen and (max-width: 600px){


    .header-text{
        margin-top: 45%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    .btny {
        padding: 10px 30px;
    }

    .btn01{
        top: 485px;
        padding: 10px 50px;
        left: 25px;
    }  
    
    .btn0{
        padding: 10px 40px;
        position: absolute;
        top: 370px;
        left: 60px;
    }

   




    #main__img {
        visibility: hidden;
        height: 20%;
        width: 20%;
    }

    .main__btn {
        top: 65px;
        padding: 10px 40px;
    }

    .main__btn1 {
        padding: 10px 30px;
    } 


    .container2 {
    background-image: url(im/de.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    height: 100vh;
    left: 25%;
    padding: 10px;
    }

    .container2 .nav{
        left: 0.009%;  
        top: 525px;
    }

    .box{

       margin-top:-12px; 
    }


    .cards{
        padding: 50px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .card{
        width: 285px;
        height: 190px;
        background: #ffffff;
        margin: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.button {
    
    padding: 10px 15px;
    
}  

body {
    
    background-image: linear-gradient(to bottom right,white,rgb(2, 25, 41),rgb(40, 66, 95),white);
    height: 100%;
    width: 100%;
}
   

   
}